.page{
  &__wrapper {
    @include themify($themes) {
      background-color: themed('backgroundColor');
    }
  }
}
.layout__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}