$extra-small: 600px; // xs	Small to large phone	< 600px
$small: 960px;	// sm	Small to medium tablet	600px > < 960px
$medium: 1400px; // md	Large tablet to laptop	960px > < 1400px*
$laptop: 1600px; // laptops
$large: 1904px; // lg	Desktop	1400px > < 1904px