$font-color: #212529;
$page-bg: #ECEFF1;
$sidebar-bg: #FFF;
$header-bg: #343a40;
$grey: #f5f5f5;
$sidebar-border: #e6e6e6;
$loader-bg: transparent;
$loader-border: #343a40;
$green: #4FB74E;
$dark-green: #2c942a;
$red: #e44040;
$dark-red: #cf2323;
$white: #FFF;
$gray: #DCDFE6;
$default-active-color: #409EFF;
$white: #FFFFFF;
$grey: #FAFAFA;
$light-blue: #A9C7DF;
$dark-blue: #8EACC5;
$blue: #0093EE;
$txt-blue: #313D4F;
$scrl-bg-blue: #273142;
$srcrl-thumb-blue: #1B2431;
$bg-blue: #171E29;
$alt-bg-blue: #222C3C;