/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

@include b(form) {
  @include m(label-top) {
    & .el-form-item {
      margin-bottom: 10px;
    }
    & .el-form-item__label {
      float: none;
      display: inline-block;
      text-align: left;
      padding: 0;
    }
  }
}